.form-container label {
  font-size: 20px;
  font-weight: bold;
}

.form-container input {
  display: block;
  width: 80%;
  font-size: 20px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}
